body {
	font-family: verdana, sans-serif;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	font-family: arial, sans-serif;
	padding: 0%;
	gap: 0%;
	margin-bottom: 0px;
}

h4 {
	padding: 0%;
	gap: 0%;
	margin-top: 4px;
}

@media only screen and (max-width: 768px) {
	h1 {
		font-size: 24px;
	}

    .form {
        width: 80%;
        max-width: none;
    }

    .field-checkbox-group {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 10px;
        justify-content: center;
        width: 100%;
    }
}


.main-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	text-align: center;
	margin: 20px;
	gap: 15px;

}

.shift {
	width: 100px;
	height: 100%;
}

.time-shift {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 5px;
	margin: 0px;
	}

#times{
	display: none;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0px;
	}
	
.field-checkbox-group {
	display: grid;
	grid-template-areas:
	"a" "b" "c";
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 0px 15px;
}

.checkbox-group {
	display: flex;
	flex-direction: column;
	align-items: start;
	white-space: nowrap;
}

.a {
	grid-area: "a";
}

.b {
	grid-area: "b";
}

.c {
	grid-area: "c";
}

.comments {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
}

.comments textarea {
	font-size: 14px;
	height: 140px;
	width: 180%;
    max-width: 600px;
}

.output-container {
	max-width: 40%;
}

@media only screen and (max-width: 768px) {
	.output-container {
		max-width: 80%;
	}
}

#output {
	white-space: pre-wrap;
}

.time {
  	border-radius: 10px;
}

.form {
    max-width: 600px;
}
